# **List: Creation, Modification, and Access**

In [ ]:
# a. Create a list named age_list with five integer elements.
age_list = [24, 25, 26, 27, 28]

# b. Create a list named name_list with five string elements.
name_list = ["Ali", "Sara", "John", "Meera", "Kiran"]


# a. Append the string  to name_list
name_list.append("Yazhini")
print('After append:', name_list)

After append: ['Ali', 'Sara', 'John', 'Meera', 'Kiran', 'Yazhini']

In [ ]:
# b. Insert the element 30 at index 2 in age_list

age_list.insert(2,30)
print('After insert:', age_list)

After insert: [24, 25, 30, 26, 27, 28]

In [ ]:
name_list.remove("Yazhini")
print('After Remove:',name_list)

After Remove: ['Ali', 'Sara', 'John', 'Meera', 'Kiran']

In [ ]:
popped_age = age_list.pop()
print('After pop:', age_list)
print('popped_age:', popped_age)

After pop: [24, 25, 30, 26, 27]
popped_age: 28

In [ ]:
age_list.extend([30,29,26])
print('After extend:', age_list)
print('extended age_list:', age_list.extend)

After extend: [24, 25, 26, 27, 28, 30, 29, 26]
extended age_list: <built-in method extend of list object at 0x7fb8e76b2340>

In [ ]:
age_list.sort(reverse=True)
print("Sorted in descending order:", age_list)

Sorted in descending order: [30, 29, 28, 27, 26, 26, 25, 24]

In [ ]:
#  Find Max age, Min age, and sum of all ages from age_list
max_age = max(age_list)
min_age = min(age_list)
sum_ages = sum(age_list)

print("Max age:", max_age)
print("Min age:", min_age)
print("Sum of all ages:", sum_ages)

Max age: 30
Min age: 24
Sum of all ages: 215

In [ ]:
name_list = ["Ali", "Sara", "John", "Meera", "Kiran"]

print('first name:', name_list[0])

print('element from 2nd and 4th index:', name_list[2:5])

print('last name:', name_list[-1])

first name: Ali
element from 2nd and 4th index: ['John', 'Meera', 'Kiran']
last name: Kiran

# *** Dictionary: Creation, Modification, and Access***

In [ ]:
student_marks = {
    "Ali": 85,
    "Sara": 78,
    "John": 92,
    "Meera": 66,
    "Kiran": 74
}
# acessing a specific student
print('mark of John:', student_marks['John'])

#adding a student
student_marks['janani'] = 80
print('after adding janani:', student_marks)

#updating a student mark
student_marks["Meera"] =95
print('after updating meera:', student_marks)

#deleting a student
del student_marks["Kiran"]
print('after deleting kiran:', student_marks)


#keys(),Values(),Methods()
print("All student names:", student_marks.keys())
print("All marks:", student_marks.values())
print("All student-mark pairs:", student_marks.items())

mark of John: 92
after adding janani: {'Ali': 85, 'Sara': 78, 'John': 92, 'Meera': 66, 'Kiran': 74, 'janani': 80}
after updating meera: {'Ali': 85, 'Sara': 78, 'John': 92, 'Meera': 95, 'Kiran': 74, 'janani': 80}
after deleting kiran: {'Ali': 85, 'Sara': 78, 'John': 92, 'Meera': 95, 'janani': 80}
All student names: dict_keys(['Ali', 'Sara', 'John', 'Meera', 'janani'])
All marks: dict_values([85, 78, 92, 95, 80])
All student-mark pairs: dict_items([('Ali', 85), ('Sara', 78), ('John', 92), ('Meera', 95), ('janani', 80)])

Sets: Creation and Operations

In [1]:
my_set = set(['a', 'e', 'i', 'o', 'u', 'a', 'a', 'i'])
print("my_set:", my_set)

my_set: {'a', 'e', 'u', 'o', 'i'}

In [2]:
try:
  my_set[4] = 's'

except TypeError as e:
  print("Error:", e)

Error: 'set' object does not support item assignment

In [3]:
set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)

print("unionset1 and set2:", union_set)
print("intersectionset1 and set2:", intersection_set)

unionset1 and set2: {1, 2, 3, 5, 7, 8, 9, 10}
intersectionset1 and set2: {3, 5}

**Operators & Conditional Statements: Performance Category Program**

In [9]:

score = int(input("Enter your score (0 to 10): "))

# Evaluate using conditional statements
if score > 10 or score < 0:
    print("Invalid input. Score must be between 0 and 10.")
elif score > 7:
    print("Above Average: Excellent work! Keep it up.")
elif score >= 4:
    print("Average: Good effort! Keep practicing, there's room for improvement.")
else:
    print("Below Average: Need to improve your performance. Consistent practice will lead to better results.")

Enter your score (0 to 10): 9
Above Average: Excellent work! Keep it up.